.menu-panel {
    transition: margin-left 0.5s ease;
    height: 100%;
    margin-left: -300px;
}

.menu.is-visible .menu-panel {
    margin-left: 0;
}

.menu-panel-box {
    width: 300px;
    height: 100%;
    background-color: black;
    padding-top: 64px;
    text-align: left;
    position: relative;
    z-index: 1;
}

.menu-panel-overlay {
    display: none;
    background-color: black;
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.menu.is-visible .menu-panel-overlay {
    display: block;
}